@import "../components/normalize/normalize";

@import "../components/font/css/fontello-embedded";

html { 
	font-size: 62.5%; 
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} 

body {
	font-family: Arial, sans-serif;
	font-size: 1.4rem; /* =14px */
}


h1 {
	font-size: 2.4rem; /* =24px */
}

header {
	padding: 3rem 0;
	background: lightgrey;
	display: block;
	overflow: hidden;
	background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #26d0ce, #1a2980 90%);
	h1 {
		text-align: center;
		margin: 0;
		color: white;
	}
	margin-bottom: 1px;
}



a {
	color: black;
	text-decoration: none;
}

nav {
	position: fixed;
	z-index: 50;
	bottom: 0;
	width: 100%;
	box-shadow: 0px 10px 66px 0px rgba(0,0,0,0.75);

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			width: 50%;
			float: left;

			&:first-child{
  				border-right: 1px solid white;
			}
			a {
				width: 100%;
				text-align: center;
				display: block;
				padding: 2rem 0;
				background: rgb(184, 184, 184);
				text-transform: uppercase;
				color: rgba(255,255,255, 0.5);
				font-weight: 900;
				i {
					font-size: 2rem;
				}

				&:hover {
					background: lightblue;
				}

				&.active {
					background: #1BC8D0;
					color: white;
				}

			}
		}
	}
}

.container {
	width: 100%;
	max-width: 800px;	
	margin: 0 auto 10rem;
}

.list {

	ul {
		list-style: none;
		padding: 0;
		margin-top: 0;
		
		li {
			list-style: none;
			margin-bottom: 1px;

			overflow: hidden;
			position: relative;


			&.topstories{
				/*
				&:after {
					content: "S";
					font-size: 2rem;
					color: white;
					position: absolute;
					right: 3rem;
					top: 40%;
				}

				&:before {
					content: "S";
					font-size: 2rem;
					color: white;
					position: absolute;
					left: 3rem;
					top: 40%;
				}
				*/


				background: rgb(0,178,20); /* Old browsers */
				background: -moz-linear-gradient(left,  rgba(0,178,20,1) 0%, rgba(0,137,48,1) 50%, rgba(0,178,20,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,178,20,1)), color-stop(50%,rgba(0,137,48,1)), color-stop(100%,rgba(0,178,20,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(0,178,20,1) 0%,rgba(0,137,48,1) 50%,rgba(0,178,20,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(0,178,20,1) 0%,rgba(0,137,48,1) 50%,rgba(0,178,20,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(0,178,20,1) 0%,rgba(0,137,48,1) 50%,rgba(0,178,20,1) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(0,178,20,1) 0%,rgba(0,137,48,1) 50%,rgba(0,178,20,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b214', endColorstr='#00b214',GradientType=1 ); /* IE6-9 */

			}
			&.favourites {
				background: rgb(178,0,0); /* Old browsers */
				background: -moz-linear-gradient(left,  rgba(178,0,0,1) 0%, rgba(104,24,0,1) 50%, rgba(178,0,0,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(178,0,0,1)), color-stop(50%,rgba(104,24,0,1)), color-stop(100%,rgba(178,0,0,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(178,0,0,1) 0%,rgba(104,24,0,1) 50%,rgba(178,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(178,0,0,1) 0%,rgba(104,24,0,1) 50%,rgba(178,0,0,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(178,0,0,1) 0%,rgba(104,24,0,1) 50%,rgba(178,0,0,1) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(178,0,0,1) 0%,rgba(104,24,0,1) 50%,rgba(178,0,0,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b20000', endColorstr='#b20000',GradientType=1 ); /* IE6-9 */
			}

		}


	}
}



.item-inner {
	width: 100%;
	min-height: 80px;
	background: #e1e3e4;	
	position: relative;
	z-index: 30;
	right: 0;
	transition: 0.2s all ease-in-out;
	padding: 1.5rem 2rem;

	&.saved {
		background: lightgreen;
	}
	&.removed {
		transition: none;
	}
	&.expanded {
		right: 40%;
		transition: 0.2s all ease-in-out;
	}

	h3 {
		margin: 0;

		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
	}

	p {
		margin: 0.5rem 0 0;
		color: rgb(153, 153, 153);
	}

	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}




.button {
	// Fontello styles
	font-family: "fontello";
  	font-style: normal;
  	font-weight: normal;
  	speak: none;
   	text-decoration: inherit;
  	margin-right: .2em;
  	text-align: center;
   	font-variant: normal;
  	text-transform: none;    
  	line-height: 1em;
   	margin-left: .2em;

	position: absolute;
	z-index: 20;
	right: 1rem;
	display: block;
	top: 50%;
	transform: translateY(-50%);

	padding: 15px;
	opacity: 0.5;
	font-size: 2rem;
	color: white;

	&.active {
		opacity: 1;
	}
	&:hover {
		opacity: 1;
	}
	&:focus {
		opacity: 1;
	}
}

.topstories {
	.button {
		&:before {
			content: "\e801";
		}
	}
}
.favourites {
	.button {
		font-size: 2.3rem;
		&:before {
			content: "\e806"
		}
	}
}

.hide {
	display: none !important;
}